<nav class="navbar navbar-expand-lg navbar-light bg-secondary shadow-sm p-2 mb-3 ">
   <a class="navbar-brand" href="#">
    <img src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-02-512.png" width="30" height="30" alt="">
    </a>
  
  <div class="navbar-nav">
  
    <a class="nav-link active text-light" href="/products">Products</a> <br>
    <a class="nav-link text-light" href="/products/new">New Product</a>
  </div>
</nav>

