<h1>Thank You</h1>

<p>
  Thank You, <strong><%= @full_name %></strong>, for getting in touch!
</p>

<p>
  <strong>Your messsage was:</strong>
  <em><%= @message %>
</p>

<p>
  We'll email you at <%= @email %> shortly.
</p>
