
<div class="container shadow-sm p-3 mb-5 bg-white rounded overflow-auto" >
<h1>Products</h1>
<% @products.each do |product| %>
  <div>
  <ul class="list-group">
      <a href="/products/<%= product.id %>">
      <h4> <%= product.title %></h4>
      </a>
      <hr>
  </ul>
  </div>

  
<% end %>
</div>